<ion-header text-center>
    <ion-toolbar>
      <ion-title><img src="../../assets/img/logo.jpg" width="90px"><br>Use your brain, don't fry it!</ion-title>
    </ion-toolbar>
</ion-header>

  <ion-content text-center>
      <ion-button color="secondary" shape="round" [routerLink]="['/home']">
        <ion-icon name="home"></ion-icon>
      </ion-button>
      <ion-button color="secondary" shape="round" (click)="logout()"><ion-icon name="log-out"></ion-icon></ion-button>
    <ion-button color="secondary" shape="round" [routerLink]="['/profile']"><ion-icon name="person"></ion-icon></ion-button><br>

    <b style="font-size: 18px">CATEGORIES</b><br>

    
    <div>
     <ion-card color="primary" *ngFor = "let cat of Question;" [routerLink]="['/questions']" (click)="getQuiz();setID(cat.Category_key)" >
         <ion-card-header>
           <ion-card-title>
             {{cat.Categories}}
           </ion-card-title>
         </ion-card-header>
       </ion-card>
    </div>
    </ion-content>